.js-audio-player {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
}

.js-audio-player audio {
  display: none;
}

.js-audio-player .js-audio-player-image,
.js-audio-player-status {
  float: left;
  position: relative;
}

.js-audio-player .js-audio-player-image {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  background-image: url("images/placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.js-audio-player .js-audio-player-status {
  width: calc(100% - 100px);
  position: relative;
}

.js-audio-player .js-audio-controls {
  width: 100%;
  position: relative;
}

.js-audio-player .js-audio-player-buttons-wrapper {
  text-align: center;
  display: block;
}

.js-audio-player .js-player-button {
  padding: 10px;
  position: relative;
  margin: 5px;
}

.js-audio-player .js-player-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  background-position: center center;
}

.js-audio-player .play {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAACXBIWXMAAAF0AAABdAGWMIQCAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAE5JREFUGJWNz8EJgDAUg+Gv4AZdwiUEJ3KX7uDNMYqjOIJH0Ys9vmogl/ATEtgx6+jGhQ1jBDSfKMgR0HxgwZDeINL62fB7Q/dFxRSNeACbGh8YS5neygAAAABJRU5ErkJggg==');
}

.js-audio-player .pause {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAYAAADaxo44AAAACXBIWXMAAAF0AAABdAGWMIQCAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAADZJREFUCJm9yTEOgCAAxdCnYeKiHsBbs4MbOPhXV5o0aVLo8cKdbgXVxxEr5umHHaNgpFcceF46fQqrTG1wMgAAAABJRU5ErkJggg==');
}

.js-audio-player .next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAACXBIWXMAAAF0AAABdAGWMIQCAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAH9JREFUKJGt0rEJwlAUheGPYJMJ7C2cIRO4Q0ZwBxdwASs3sLLKCELaLJA2XUBIE/DZmObhC/Lwwql+frice+GOve9zwSHBwBMjTthErMGMK7YpOXzyQBXJC+tRr8kBE84oIznghRt2KXlJhzbBBhyLtTJ+mb+tnVVY9qmyn+QNiyVAe3NUqk4AAAAASUVORK5CYII=');
}

.js-audio-player .prev {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAACXBIWXMAAAF0AAABdAGWMIQCAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAHdJREFUKJGl0LEJAlEQRdHDB0vQTjawGtnE0E4MjMQGzKxh2cg+zKxADGRMvvKR0WB94b08HjPkKeixT1yHISstMSJwavgCO9yqe2eOLe5VvIoFK1waHjDDBtcPEXX5nPCA4xcRePxw0xcn3/j3V9sUrHFIXIfhCSEoRMMFtvH1AAAAAElFTkSuQmCC');
}

.js-audio-player .js-audio-player-status-bar {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.js-audio-player .js-audio-player-status-bar .js-audio-bar {
  width: 100%;
}

.js-audio-player .js-audio-player-status-bar span {
  margin: 5px;
}

.js-audio-range>input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}

.js-audio-range>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #666666;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.js-audio-range>input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #666666;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}